<footer class="footer" id="footer">
<div class="container footer-container">
    <div class="three-section">
    <div class="footer-text-all">
        <p class="footer-text">Chocolate <span class="footer-span">a delicious cure for a bad day</span></p>
    </div>
    <div class="contacts"> 
    <div class="footer-container-adress">
        <p class="footer-contact-text">Contact us</p>
        <address class="footer-adress">
        <ul class="footer-adress-list">
            <li class="footer-adress-li">
                <a href="tel:+380684439426" class="footer-adress-link" >+380 (68) 443-94-26</a>
            </li>
            <li class="footer-adress-li">
                <a href="mailto:simplychoc@gmail.com" class=" ">simplychoc@gmail.com</a>
            </li>
        </ul>
        </address>
    </div>
    <div class="footer-container-social">
        <ul class="footer-social-list list">
            <li class="footer-social-list-icon">
                <a class="footer-social-link" href="https://www.instagram.com/" target="_blank" rel="noreferrer noopener">
                    <svg class="footer-social-svg">
                        <use href="../img/sprite.svg#icon-instagram"></use>
                    </svg></a>
                
            </li>
            <li class="footer-social-list-icon">
                <a class="footer-social-link" href="https://twitter.com/" target="_blank" rel="noreferrer noopener">
                    <svg class="footer-social-svg">
                        <use href="../img/sprite.svg#icon-twitter"></use>
                    </svg>
                </a>
                
            </li>
        </ul>
    </div>
    </div>
    </div>    
    <div class="footer-menu">
            <ul class="footer-menu-list list">
                <li class="footer-menu-text">
                    <a href="#hero" class="footer-menu-link link">Home</a>
                </li>
                <li class="footer-menu-text">
                    <a href="#how-made" class="footer-menu-link link">How it’s made?</a>
                </li>
                <li class="footer-menu-text">
                    <a href="#section-our-products" class="footer-menu-link link">Our products</a>
                </li>
                <li class="footer-menu-text">
                    <a href="#top_sellers" class="footer-menu-link link">Top sellers</a>
                </li>
                <li class="footer-menu-text">
                    <a href="#review" class="footer-menu-link link">Chocolate is loved</a>
                </li>
            </ul>
        </div>
   
</div>
</footer>