
<header class="top">
    <div class="container top-container">
        <div class="top-logo">
        <p class="top-logo-text"><span class="top-logo-part-text">SIMPLY</span> CHOCOLATE</p>
        <svg class="top-logo-icon" width="21" height="21">
            <use href="./img/sprite.svg#icon-chocolate"></use>
        </svg>
        </div>
        <nav class="top-nav">
            <ul class="top-nav-list">
                <li class="top-nav-item"><a href="#hero" class="top-nav-link">Home</a></li>
                <li class="top-nav-item"><a href="#how-made" class="top-nav-link">How it’s made?</a></li>
                <li class="top-nav-item"><a href="#section-our-products" class="top-nav-link">Our products</a></li>
                <li class="top-nav-item"><a href="#top_sellers" class="top-nav-link">Top sellers</a></li>
                <li class="top-nav-item"><a href="#review" class="top-nav-link">Chocolate is loved</a></li>
            </ul>
        </nav>
        <button type="button" class="mobile-menu-open-btn js-open-menu" >
            <svg class="mobile-menu-icon-mob" width="21" height="14">
                <use href="./img/sprite.svg#icon-burger-maxi"></use>
            </svg>
            <svg class="mobile-menu-icon-tablet" width="24" height="16">
                <use href="./img/sprite.svg#icon-burger-maxi"></use>
            </svg>
        </button>
        <ul class="top-sm-list">
            <li class="top-sm-item">
                <a href="https://www.instagram.com/" target="_blank" rel="nofollow noreferrer" class="top-sm-link">
                    <svg class="top-sm-icon" width="24" height="24">
                        <use href="./img/sprite.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="top-sm-item">
                <a href="https://twitter.com/" target="_blank" rel="nofollow noreferrer" class="top-sm-link">
                    <svg class="top-sm-icon" width="24" height="24">
                        <use href="./img/sprite.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</header>

