<section id="hero" class="hero">
    <div class="container">
        <div class="hero-container">
            <h1 class="hero-title visually-hidden">Chocolote</h1>
       <h2 class="hero-subtitle">Treat yourself or a loved one to 
            our finest ingredients for a moment 
            of pure delight!</h2>

            <div class="hero-buttons">
               <ul class="hero-main-btn">
                <li class="hero-btn-list">
                    <button class="hero-btn hero-buy-btn" type="button"  data-modal-open>Buy now</button>   
                </li>
                 <li class="hero-btn-list">
                  <a class="hero-btn hero-made-btn" href="#how-made">How it’s made</a>   
                 </li>
               </ul>

                <a class="hero-scroll-link" href="#footer">scroll down
                 <span class="hero-span-icon">
                  <svg class="hero-scroll-icon">
                        <use href="./img/sprite.svg#icon-scroll"></use>
                   </svg>    
                 </span> 
                </a>
    </div>
</div>
</div>
</section>