<div class="mobile-menu js-menu-container">
	<div class="mobile-menu-container">
		<button type="button" class="mobile-menu-close-btn js-close-menu">
			<svg class="mobile-menu-close-icon" width="28" height="28">
			  <use href="./img/sprite.svg#icon-x-close"></use>
			</svg>
		  </button>
		  <ul class="mobile-menu-list">
			<li class="mobile-menu-item"><a href="#hero" class="mobile-menu-link">Home</a></li>
			<li class="mobile-menu-item"><a href="#how-made" class="mobile-menu-link">How it’s made?</a></li>
			<li class="mobile-menu-item"><a href="#section-our-products" class="mobile-menu-link">Our products</a></li>
			<li class="mobile-menu-item"><a href="#top_sellers" class="mobile-menu-link">Top sellers</a></li>
			<li class="mobile-menu-item"><a href="#review" class="mobile-menu-link">Chocolate is loved</a></li>
		</ul>
		<ul class="mobile-menu-sm-list">
            <li class="mobile-menu-sm-item">
                <a href="https://www.instagram.com/" target="_blank" rel="nofollow noreferrer" class="mobile-menu-sm-link">
                    <svg class="mobile-menu-sm-icon" width="24" height="24">
                        <use href="./img/sprite.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="mobile-menu-sm-item">
                <a href="https://twitter.com/" class="mobile-menu-sm-link" target="_blank" rel="nofollow noreferrer">
                    <svg class="mobile-menu-sm-icon" width="24" height="24">
                        <use href="./img/sprite.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>
        </ul>
		  
	</div>
</div>
