<div class="subscribe-backdrop subscribe-data-modal is-hidden-subscribe">
  <div class="subscribe-modal">
    <button
      type="button"
      class="subscribe-modal-close-btn subscribe-data-modal-close"
    >
      <svg class="subscribe-close-svg" width="28" height="28">
        <use href="/img/sprite.svg#icon-x-close"></use>
      </svg>
    </button>
    <div class="subscribe-bacground-img"></div>
    <p class="subscribe-text margin-for-text">Explore our</p>
    <p class="subscribe-text">
      <span class="subscribe-text-span">new chocolate</span> first!
    </p>
    <form name="form" class="subscribe-form">
      <label class="subscribe-form-button">
        <input
          placeholder="Enter your email"
          class="subscribe-label-input"
          name="email-subscribe"
          type="email"
          pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
          required
          title
        />
      </label>
      <button class="subscribe-button-form" type="submit">Submit</button>
    </form>
  </div>
</div>
