<section class="top-sellers-section" id="top_sellers">
  <div class="container">
    <h2 class="top-sellers-title">
      <span class="top-sellers-logo">top</span> sellers
    </h2>
    <ul class="list top-sellers">
      <li class="top-sellers-item">
        <picture>
          <source
            srcset="
              ./img/top-sellers/desktop/cofee-nuts-ds.jpg     1x,
              ./img/top-sellers/desktop/cofee-nuts-ds-@2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./img/top-sellers/tablet/cofee-nuts-tab.jpg     1x,
              ./img/top-sellers/tablet/cofee-nuts-tab-@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/top-sellers/mobile/cofee-nuts-mob.jpg     1x,
              ./img/top-sellers/mobile/cofee-nuts-mob-@2x.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            class="top-sellers-img"
            src="./img/top-sellers/desktop/cofee-nuts-ds.jpg"
            alt="cofee-nuts"
            width="368"
            height="464"
            loading="lazy"
          />
        </picture>
        <p class="top-description">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="top-sellers-item">
        <picture>
          <source
            srcset="
              ./img/top-sellers/desktop/choco-mix-ds.jpg     1x,
              ./img/top-sellers/desktop/choco-mix-ds-@2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./img/top-sellers/tablet/choco-mix-tab.jpg     1x,
              ./img/top-sellers/tablet/choco-mix-tab-@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/top-sellers/mobile/choco-mix-mob.jpg     1x,
              ./img/top-sellers/mobile/choco-mix-mob-@2x.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            class="top-sellers-img"
            src="./img/top-sellers/desktop/choco-mix-ds.jpg"
            alt="choco-mix"
            width="368"
            height="464"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="top-sellers-item">
        <picture>
          <source
            srcset="
              ./img/top-sellers/desktop/black-nut-ds.jpg     1x,
              ./img/top-sellers/desktop/black-nut-ds-@2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <img
            class="top-sellers-img"
            src="./img/top-sellers/desktop/black-nut-ds.jpg"
            alt="black-nut"
            width="368"
            height="464"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>

    <div class="container-sellers">
      <p class="sell-description">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button data-modal-open class="order-btn" type="button">Buy now</button>
    </div>
  </div>
</section>
