
.footer {
    background-color: var(--dark-color);

}
.footer-container {
    padding-top: 32px;
    padding-bottom: 32px;
}

.footer-text {
    
    font-weight: var(--secondary-text-font-weight);
    font-size: var(--section-title-font-size);
    line-height: var(--section-title-line-height);
    letter-spacing: var(--secondary-title-letter-spacing);
    color: var(--orange-color);
}
.footer-span {
    color: var(--white-color);
}

.footer-text-all {
    width: 300px;
    margin-bottom: 32px;
}
.contacts {
    justify-content: space-between;
    display: flex;
    padding: 0;
}
.three-section {
    margin-bottom: 32px;
}

.footer-contact-text {
    
    font-weight: var(--secondary-text-font-weight);
    font-size: var(--main-text-font-size);
    line-height: var(--form-text-line-height);
    color: var(--white-color);
    margin-bottom: 14px;

}
.footer-adress {
    
    font-weight: var(--secondary-title-font-weight);
    font-size: var(--main-text-font-size);
    line-height: var(--logo-line-height);
    letter-spacing: var(--main-text-letter-spacing);
    color: var(--white-color);
    font-style: normal;
}

.footer-adress-li:first-child {
    margin-bottom: 4px;
}
.footer-social-list {
    display: flex;
    align-items: flex-start;
    gap: 14px;

}
.footer-social-link {
    transition: var(--transition);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social-svg {
    
    stroke: var(--white-color);
    width: 22px;
    height: 22px;
    
}

.footer-menu-text {

    font-style: normal;
    font-weight: var(--secondary-text-font-weight);
    font-size: var(--main-text-font-size);
    line-height: var(--header-line-height);
    display: flex;
    letter-spacing: var(--main-text-letter-spacing);
    color: var(--white-color);
    
}

.footer-menu-text:not(:last-child) {
    margin-bottom: 18px;
}

.footer-menu::before {
   
    content: "";
    display: inline-block;
    width: 100%;
    height: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 32px;
    
}


@media screen and (min-width: 768px) {
.footer-container {
    padding-top: 50px;
    padding-bottom: 50px;
}
.three-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    }

.footer-container-social {
    display: block;
    margin-left: 52px;
}

.footer-menu-list {

    display: flex;
    align-items: flex-start;
    gap: 24px;    
}
.footer-menu::before {
    margin-bottom: 24px;
}

.footer-text-all:not(:last-child) {
    margin-bottom: 0px;
}

.contacts:not(:last-child) {
    margin-bottom: 0px;
}

.footer-menu-text:nth-child(-n+5) {
    margin-bottom: 0px;
}


}


@media screen and (min-width: 1158px) {
.footer-container {
    
    align-items: baseline;
    flex-direction: row;
} 
.three-section {
    
    margin-bottom: 58px;
    
}
.footer-container-social {
    display: block;
    margin-left: 65px;
}
.footer-menu::before {
    height: 0px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transform: rotate(180deg);
}
.footer-text {
    font-weight: var(--secondary-text-font-weight);
    font-size: var(--hero-footer-main-text-font-size);
    line-height: var(--main-text-line-height);
}
.footer-menu:not(:last-child) {
    margin-bottom: 0px;
}

}

