.taste {
  color: var(--orange-color);
}
.third-section {
  padding: 72px 0;
}
.title-third-section {
  max-width: 283px;
  letter-spacing: var(--mobile-title-letter-spacing);
  text-transform: uppercase;
  font-weight: var(--mobile-title-font-weight);
  font-size: var(--mobile-title-font-size);
  line-height: var(--card-button-text-line-height);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.p-chocolate-main-description {
  font-weight: var(--secondary-title-font-weight);
  line-height: var(--form-text-line-height);

  font-size: var(--main-text-font-size);
  text-align: center;
  width: 100%;
  letter-spacing: var(--main-text-letter-spacing);
  margin: 0 auto 32px;
}
.third-section {
  padding: 72px 0;
}

.front-orange {
  background: var(--orange-color);
}
.front-white {
  background-color: var(--white-color);
  border: 1px solid var(--orange-color);
}
.front-black {
  background-color: #1e1823;
}

.p-chocolate {
  padding-left: 28px;
  text-transform: uppercase;
  font-weight: var(--mobile-title-font-weight);
  font-size: var(--main-text-font-size);
  line-height: var(--form-text-line-height);
  letter-spacing: var(--section-title-letter-spacing);
}
.p-chocolate-white {
  color: var(--white-color);
}
.p-chocolate-gray {
  color: var(--main-dark-color);
}
.list-chocolate-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}
.subtitle-back-chocolate {
  text-transform: uppercase;

  font-weight: var(--button-font-weight);
  font-size: var(--logo-font-size);
  line-height: var(--card-button-text-line-height);
  letter-spacing: var(--mobile-title-letter-spacing);
  color: var(--main-dark-color);
  margin-bottom: 8px;
}
.button-chocolate {
  padding: 6px 16px;
  margin-left: auto;
  margin-right: auto;

  font-weight: var(--secondary-title-font-weight);
  font-size: var(--card-button-text-font-size);
  line-height: var(--card-button-text-line-height);
  border-radius: 35px;
}
.orange-button-chocolate {
  background-color: var(--orange-color);
  color: var(--white-color);
}
.orange-button-chocolate:hover,
.orange-button-chocolate:focus {
  background-color: #fcf1e0;
  color: var(--orange-color);

  transition: background-color var(--transition), color var(--transition);
}

.white-button-chocolate {
  background-color: #fafafa;
  color: var(--main-dark-color);
  border: 1px solid var(--orange-color);
}
.white-button-chocolate:hover,
.white-button-chocolate:focus {
  background-color: var(--orange-color);
  color: var(--white-color);

  transition: background-color var(--transition), color var(--transition);
}

.chocolate-two-button {
  display: flex;
  gap: 6px;
  margin-bottom: 14px;
}
.p-chocolate-description {
  text-align: left;
  color: var(--main-dark-color);
  font-weight: var(--secondary-title-font-weight);
  font-size: var(--main-text-font-size);
  line-height: var(--form-text-line-height);
  letter-spacing: var(--main-text-letter-spacing);
}

.chocolate-image {
  margin-left: auto;
  margin-right: auto;
  padding: 0 25px;
  margin-bottom: 25px;
}
.item-chokolate-card {
  display: flex;
  position: relative;
  transform-style: preserve-3d;
  perspective: 800px;
  cursor: context-menu;
  height: 270px;
  width: 100%;
  max-width: 335px;
}
.item-chokolate-card .front,
.item-chokolate-card .back {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
}
.item-chokolate-card .front {
  padding: 28px 0;
}
.item-chokolate-card .back {
  padding: 28px;
  transform: rotateY(180deg);
  background-color: var(--white-color);
  overflow-y: auto;
}
.item-chokolate-card:hover .front {
  transform: rotateY(-180deg);
}
.item-chokolate-card:hover .back {
  transform: rotateY(0deg);
}
.content-chocolate {
  width: 100%;
  height: 100%;
  transform: translateZ(100px) scale(0.86);
}

@media screen and (min-width: 375px) {
  .p-chocolate-main-description {
    padding: 0;
  }

  .chocolate-image {
    padding-left: 56px;
    padding-right: 55px;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 768px) {
  .item-chokolate-card {
    width: calc((100% - 32px) / 2);
  }

  .list-chocolate-card {
    flex-direction: row;
    gap: 32px;
  }
  .p-chocolate-main-description {
    width: 486px;
    margin-bottom: 50px;
  }
  .title-third-section {
    padding-bottom: 28px;
  }
  .third-section {
    padding: 100px 0;
  }
  .title-third-section {
    width: 411px;
    font-weight: var(--button-font-weight);
    font-size: var(--section-title-font-size);
    line-height: var(--secondary-text-line-height);
  }
}
@media screen and (min-width: 1200px) {
  .item-chokolate-card {
    width: calc((100% - 57px) / 4);
  }

  .list-chocolate-card {
    flex-wrap: nowrap;
    gap: 19px;
  }
  .third-section {
    padding: 128px 0;
  }
  .chocolate-image {
    padding: 0 36px 0 28px;
    margin-bottom: 36px;
  }
  .item-chokolate-card .back {
    padding: 20px;
  }
}
